[2020-12-18 09:22] Shivansh-007 opened #2 "Gurkancount and Isgurkan"
###  is_gurkan check and gurkancount
Gurkancount checks how many gurkans there are in the server. Isgurkan checks if a certain member is a gurkan.

### Who is a gurkan?
Gurkan is person who has `gurk` or  `gurkan` in his name, it can be in any case

## Would you like to implement this yourself?
- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this feature

[2020-12-18 09:35] Shivansh-007 opened #3 "Gurkan games and a gurkan leaderboard"
### Gurkan games and a gurkan leaderboard
We could implement some games which are modified to be related to gurkans and after completing/winning or participating, you would earn some gurkans.
These Gurkans can be seen by using the gurkan leaderboard command.

### Gurkan Games ideas
- Cucumber is a fun trick taking card game with a unique twist. This game originated in Denmark and is also known as

[2020-12-18 09:44] Shivansh-007 opened #4 "Reaction roles"
### Reaction roles

Proposed commands

- !reaction list (channel/message) - List all reaction role messages on server/in channel, or roles for a message
- !reaction create (description) - Create a reaction role message in channel
- !reaction edit [message-id] (description) - Edit message description of and/or move reaction role to new channel
- !reaction [message-id] [role] [emoji] - Add reaction

[2020-12-18 09:50] gustavwilliam opened #5 "Test"

[2020-12-18 09:54] gustavwilliam commented on #5
Let's see

[2020-12-18 10:01] #5 closed

[2020-12-18 10:04] saiTama-max commented on #2
I would like to work on this on my own

[2020-12-18 10:06] Shivansh-007 opened #6 "Gurkan collection game"
## Gurkan collection game

The gurkbot will randomly post a gurkan reaction on one of the latest messages in the server. The first user to click it, consumes it (which makes the bot remove both reactions). At any point, you can use the `!gurkancount` command to view a leaderboard of who has collected the most candies.

Occasionally the bot will also post a skull reaction, and if the user who click

[2020-12-18 10:09] ReneganRonin opened #7 "Workflows"
# My Idea is too complex...
Based on @gustavwilliam 's suggestion, my idea is rather complex since the bot is still at its infancy. So here is the updated workflow according to @gustavwilliam :
### Steps
1. Evaluate what features we want
2. Create bot core and fix dependency management and similar
3. Implement features

### Comments on workflow:
1. I agree on the workflow.
2. I suggest we create t

[2020-12-18 10:25] Shivansh-007 commented on #6
I would like to work :)

[2020-12-18 11:42] zeeshanok opened #8 "Urban dictionary definitions"
We need a command that looks up urban dictionary for definitions of words/phrases.
I can do this as I already have the same in my bot.

[2020-12-19 00:36] gustavwilliam opened #10 "Folder structure"
@ReneganRonin proposed the following project structure in #1. The discussion is being migrated to this issue.
[code]

I don't think the root-level files matter too much in this structure. They're almost always gonna be the same ones. The part I'm personally interested in exploring is the structure inside `/bot`.

https://github.com/python-discord/bot/tree/master/bot has a nice and organised struct

[2020-12-19 00:45] ReneganRonin commented on #10
I looked at their folder structure, I do admit that it is well organized. I guess implementing it is a good idea. Should I modify it to be as similar as theirs on [#1](https://github.com/gurkult/gurkbot/pull/1)?

[2020-12-19 00:47] gustavwilliam commented on #10
I've closed #1 now, and we can discuss this here. I don't think a PR is the right place to discuss it. Maybe we could lay out a clear diagram of what we're actually thinking, here in the issue as well, so it's not as vague as "let's do it like they did." Would you like to draft it?

[2020-12-19 01:04] ReneganRonin commented on #10
I will do it then. Anyone interested can help.

[2020-12-19 02:13] Shivansh-007 commented on #10
[code]

Came up with something, similar to yours

[2020-12-19 02:20] Shivansh-007 opened #11 "Feature: Retrieve Issue From All Git Repos"
### Retrieve Issue From All Git Repos
Command that allows users to retrieve issues from all github repos of gurkult.

### Example:

`!issue gurkbot 456` ( `!issue repo issue-number`)
`!issue meta 12`

[2020-12-19 02:27] ReneganRonin commented on #10
[code]
Improved visuals using tree, as we can see, bot.py is where we register or import our commands from the following directory `exts/` and `utils/`. `exts/` is where we will add our commands inside a folder called `main/` and our for fun commands inside a folder called `fun/`. The `utils/` folder is where we will hold our custom utilities (e.g. conversion of time, regex stuff) that can be impo

[2020-12-19 02:31] Shivansh-007 commented on #10
Hmmm, i would like the them to be inside a `gurkbot` or `bot` folder.
Like:
[code]

[2020-12-19 02:32] RandomDev26 commented on #10
I think Having everything under the bot folder would be better too

[2020-12-19 02:36] ReneganRonin commented on #10
Yeah I agree.

[2020-12-19 03:46] gustavwilliam commented on #10
How does this compare to python-discord/bot?

[2020-12-19 03:51] ReneganRonin commented on #10
It looks similar, I know that we based it off from the python-discord/bot but the idea of our structure is to keep things separate as possible so it wont get cluttery. IMO our structure might even be better :D

[2020-12-19 03:51] gustavwilliam commented on #10
Yeah, for sure! Do you have any concrete differences? M it’s just good to know. What’s not the same.

[2020-12-19 03:52] saiTama-max commented on #10
yeah, it looks good to me, maybe add a `resources` folder for storing stuff like yaml files?

[2020-12-19 03:53] RandomDev26 commented on #10
I think it's pretty much ready, we just need to add the resources folder.

[2020-12-19 03:55] gustavwilliam commented on #10
I don't think resources would be the right place for such files. Possibly `/config`, but I think the Python way of storing the files actually works just fine. I'm not sure if adding it to a folder would make sm things harder to import.

[2020-12-19 03:56] RandomDev26 commented on #10
Won't make that much of a difference

[2020-12-19 03:58] saiTama-max commented on #10
There's no need of importing from the resources folder, its just for storing stuff like yaml and json, which are loaded on the working file

[2020-12-19 04:02] ReneganRonin commented on #10
`config` folder makes sense to store all config files i mean, hence the name.

[2020-12-19 04:02] mudkipdev commented on #10
what about a CONTRIBUTING.md?

[2020-12-19 04:02] mudkipdev commented on #10
i think we might need some tests as well

[2020-12-19 04:03] Atharv-Attri commented on #10
Yes, tests and contrib.md should be added

[2020-12-19 04:03] Shivansh-007 commented on #10
Test can be thought of later, i don't think it is needed now.

[2020-12-19 04:05] Shivansh-007 commented on #10
Updated:
[code]

[2020-12-19 04:07] mudkipdev commented on #10
why do exts need __init__.py again?

[2020-12-19 04:09] Shivansh-007 commented on #10
so that we can mark it as Python package directory

[2020-12-19 04:26] RandomDev26 opened #12 "Make GEP channel"
This command will make a new GEP channel, and also edit channel description.
Usage:

- `!gep make <GEP number> <GEP description>` (makes new channel named `gep-<num>` and sets description as inputted.
- `!gep edit <num> <description>` (edit's the channel's description)

I would like to implement this myself.

[2020-12-19 04:56] mudkipdev commented on #10
why do we need that

[2020-12-19 05:28] ReneganRonin commented on #10
He just basically answered your question. Also how can we even import our commands if there is no `__init__.py`?

[2020-12-19 05:30] fisher60 commented on #10
@mudkipdev yes, the extensions/cogs need to be imported as modules from the other directories. Therefore they need an init.

[2020-12-19 12:59] vivax3794 commented on #10
Why would we need to import them? We are using discord.py right?

[2020-12-19 13:12] ReneganRonin commented on #10
@vivax3794 The reason why we need to break it up into separate directories is to avoid messy code organization. Writing the code for the bot inside one `bot.py` file is inefficient and lacks structure. Breaking it up into a folder structure where we can separate py files helps us encourage code reuse and keeps the purpose of the code of the py files isolated. Imagine writing a `bot.py` file and yo

[2020-12-19 13:14] vivax3794 commented on #10
What I meant is that we don't need a init file in a folder to use the cogs from it

[2020-12-19 13:17] ReneganRonin commented on #10
wdym we do not need? thats basically how you do it if we want to import things from different folders and we need the `__init__` so we can take the imports from or to the directory. pls reread https://github.com/gurkult/gurkbot/issues/10#issuecomment-748473460

[2020-12-19 13:19] vivax3794 commented on #10
But you don't import a file to use the cogs from it?

[2020-12-19 13:21] ReneganRonin commented on #10
@vivax3794 we do. see https://github.com/python-discord/bot/tree/master/bot and look at the structure. they have an `__init__.py` file. It is not because we copied it, but that is how we should structure it.

[2020-12-19 13:22] vivax3794 commented on #10
Well if we want to group it into folders yes, but will the bot really be that large?

[2020-12-19 13:24] ReneganRonin commented on #10
Should we wait if it becomes large?

[2020-12-19 13:26] ReneganRonin commented on #10
Also i do think that the folder structure is the backbone of the project, and even if the bot is small, at least we have organized it so well, even new developers can navigate and read the code easily.

[2020-12-19 18:23] uncomfyhalomacro opened #13 "Mini-Roadmap"
Let us add a mini roadmap for this bot so we can keep track on what has changed and what changes we want for this particular time of the year which is gonna be year 2021. We will carefully select what features we want to add and add them to the goals of our roadmap. I will make a draft before the end of this month. Anyone interested to help, just comment if you want to help.

[2020-12-19 19:09] Atharv-Attri commented on #10
I think this is key, we need to make the structure organized and easy for new devs to navigate.

[2020-12-19 23:45] gustavwilliam commented on #12
I'm not sure we want to let people "make" GEPs that easily. It would probably be better to ask a council member if it's something we want. Maybe a command like this could work:
`!get propose <title> <short summary>`

The actual writing process is a lot larger. Maybe some management commands would be nice though.

[2020-12-19 23:49] RandomDev26 opened #14 "Reminder and Todo"
The remind feature will work as it does on PyDis.
The ToDo feature will keep a todo list for both an individual and roles.

ex:
`!remind time reminder`
`!todo (add/remove) (me/role) todo_item`

[2020-12-19 23:50] gustavwilliam commented on #10
@mudkipdev definitely! However, let's make sure to keep this issue on topic. That can be discussed In a discussion or another issue.

[2020-12-19 23:55] gustavwilliam commented on #10
@vivax3794 I agree with @ReneganRonin that we should make a solid structure from the start. There's also an issue with committing, where merge conflicts will be much more common if everyone is working on the same file. It's just all around nicer to split things up into logical files and have a solid structure to start with.

And I hope that we will expand this bot a lot in the future. Making sure

[2020-12-20 00:22] RandomDev26 commented on #12
Yes, by description I meant the summary. I agree we should make it propose and then it can show up in a channel that we can name something like `gep-proposals`, and then leave the make/edit commands to the council and/or lords.

[2020-12-20 01:15] ReneganRonin commented on #10
[code]
or
[code]
These two are based on the collective ideas of the gurkult. If you have any comments or suggestions such as changes and stuff, better start early. Because we need to move forward for this project in the next 36 hours.

[2020-12-20 01:24] gustavwilliam commented on #10
[code]
Thanks to @ReneganRonin for the proposal. This is a slightly refined version of it, where `...` represents that more files will of course exist there, but that they are specific to what we decide to add and may change often.

What is the purpose of `exts/main` in the proposal sent above?

[2020-12-20 01:28] ReneganRonin opened #15 "Load/Unload Commands"
Once we are done with the core, I would like us to have this feature. We will need to have a feature where we can load and unload specific commands. This way, we have more control of the bot (specifically the Supreme Gurkan and his trusted cucumbers). The command will look like `.ext load <command/Cog>` or `.ext unload <command/Cog>`. I think @Xithrius have made this kind of feature. However, I do

[2020-12-20 01:29] Atharv-Attri commented on #15
I think this is a great idea and will prove to be useful.

[2020-12-20 01:30] RandomDev26 commented on #15
I think this is a great idea, and will most likely prove to be useful.

[2020-12-20 01:31] ReneganRonin commented on #10
@gustavwilliam I just thought that the main commands for the bot be there but I also think that is unnecessary. Because the files directly under the `ext/` folder will be the main commands, any other folder (not files) under `ext/` will be custom commands and features (e.g. `fun/` where we will put our crazy stupid commands).

[2020-12-20 01:33] Xithrius commented on #15
@ReneganRonin I'm not sure what you mean by unloading a command, but I can for sure unload/load/reload a Cog or extension.

[2020-12-20 01:34] gustavwilliam commented on #15
Maybe we could implement something to activate or deactivate individual commands later on, but for now the cogs will do. That's the most important part.

[2020-12-20 01:35] Xithrius commented on #15
I'm not sure if enabling/disabling a command on the fly is actually possible without hardcoding it.

[2020-12-20 01:37] gustavwilliam commented on #15
Maybe we could add some dark magic in the command processing that checks if some "is_active" item is true in a dict. That's the only way I can think of really.

[2020-12-20 01:43] gustavwilliam commented on #12
Hmmm, true. The issue with a command to create the GEPs on the server is that they can be above 2,000 characters, which Discord won't allow us to send.

Either way, we want to store the GEPs primarily on the site. We could communicate with Reagurk through the API when adding/proposing GEPs as well, and fetch data from there. Exactly how that would be done is something I haven't put any thought int

[2020-12-20 01:43] gustavwilliam commented on #10
Yeah. I think just putting it under `/ext/<category>` will make sense. Some "main" commands probably won't exist either. They'll all be part of some category.

[2020-12-20 01:46] RandomDev26 commented on #12
I was think it would be something like: draft (maybe split across multiple messages) on discord, and once it's ready, a PR is made on the GEP repo(would need to be made), and then the site would get the GEP from there.

[2020-12-20 01:51] ReneganRonin commented on #10
@gustavwilliam We will try to implement that kind of folder structure then. We will add some categories once we have thought what kind of category should the command be.

[2020-12-20 01:53] gustavwilliam commented on #10
Sounds perfect! We don't need to add any categories for now, though. Maybe `exts/utils`, if you want to try add something. Are you opening a PR?

[2020-12-20 02:13] ReneganRonin commented on #10
@gustavwilliam so we will move `utils/` under `/exts/utils`? i see. I will make a PR as early as 4 hours (if i am not busy)

[2020-12-20 02:15] gustavwilliam commented on #10
Nope! The utils in `bot/utils` are general utils, like pagination, for the cogs. The cogs in `exts/utils` are util commands, like reminder and loading cogs.

[2020-12-20 02:20] ReneganRonin commented on #10
@gustavwilliam  Thanks for the clarification! Now we are ready to implement it :dancers:

[2020-12-20 04:55] Shivansh-007 commented on #14
Hmmm, I am fine with remind but for todo, won't it take space in the the database? like we keep this staff only but i don't think it should be a open command.

[2020-12-20 04:56] gustavwilliam commented on #14
We have space in the database. Reminders and todos are also quite tiny in how much space they occupy.

[2020-12-20 04:57] Shivansh-007 commented on #15
Hmmm, yeah! we could put that case, like if it is not active, we could display some message and if it active it would run normally

[2020-12-20 04:58] Atharv-Attri commented on #15
Xith was able to figure out a way with the .update method for commands.

[2020-12-20 04:58] gustavwilliam commented on #15
That would be quite simple to manage in the error handler. Also, @Xithrius has managed to figure out how a disable command could work. It would be possible.

[2020-12-20 05:09] Xithrius commented on #15
@Shivansh-007 here's what I figured out.

[2020-12-20 05:10] Shivansh-007 commented on #15
Ah ok, didn't see that 😅

[2020-12-20 05:17] Vyvy-vi commented on #7
That would be good 👍
Also, since this issue is titled Workflows, perhaps we could make a few actions to Lint and Build, to ensure code quality from prs?

[2020-12-20 06:02] Vyvy-vi commented on #10
I think this issue was closed by [gurkbot#16: Folder Structure](https://github.com/gurkult/gurkbot/pull/16)

[2020-12-20 06:25] Vyvy-vi opened #17 "Bot core"
### Description:

#16 introduced a folder structure for the project. Contributors could start contributing if the discord bot-core is setup and a basic bot is running.

Task-list: (suggested, if accepted)

~~`requirements.txt`~~
- [ ] new gh-branch for `develop`
- [ ] `.env-example` content for tokens etc. with how-to comments
- [ ] bot client setup
- [ ] setup constants, if any needed for now
- [

[2020-12-20 06:31] ReneganRonin commented on #17
Can we add Pipfile, Linting, and Pre-commit hooks to tasks?

[2020-12-20 11:59] vivax3794 commented on #17
We don't need a requirements.txt if we have a Pipfile

[2020-12-20 12:00] zeeshanok commented on #17
What if we wanted to support both pipenv and regular pip?

[2020-12-20 12:03] Vyvy-vi commented on #17
IMHO, keeping multiple ways to run code boosts inclusivity(since many new contributors might not be used to pipenv).
I think that's the reason why people started dockerizing their projects 🤔

[2020-12-20 12:04] vivax3794 commented on #17
But that also adds extra work for developers that now need to update both

[2020-12-20 12:07] gustavwilliam commented on #17
I’m not a big fan of letting people run the project in multiple ways. We should focus on documenting how it’s run, instead of trying to maintain multiple ways of running the project.

[2020-12-20 12:08] ReneganRonin commented on #17
@gustavwilliam I actually agree on what @vivax3794 thought on this. Having it run multiple ways is a pain.

[2020-12-20 12:08] vivax3794 commented on #17
Also I would be happy to setup pipenv and write the core bot code (bot.py, __main__.py, and .env-example) and that should allow us to start adding commands/cogs

[2020-12-20 12:08] Vyvy-vi commented on #17
(should I remove `requirements.txt` from task-list ?)

[2020-12-20 12:09] gustavwilliam commented on #17
Yes. That’s exactly what I’m saying as well. I think we’ve reached a consensus here.

[2020-12-20 12:11] gustavwilliam commented on #17
@vivax3794 that sounds great. Would you like to open an issue about pipenv specifying what you’re gonna do? I’ll assign you.

[2020-12-20 12:12] zeeshanok commented on #17
In that case, we should add some instructions on how to use pipenv.

[2020-12-20 12:13] gustavwilliam commented on #17
Yes. That’s the plan, as I mentioned in one of my previous comments. Documenting everything and making it easy to set up is key.

[2020-12-20 12:28] vivax3794 opened #19 "Pipenv and Core bot code"
Checks of some of the points in #17

- [x] Setup Pipenv (EDIT: that looks to be done by #18 already)
- [ ] Write core bot code to get it running in bot.py and __main__.py
- [ ] load token from .env
- [ ] fill in .env-exmaple
- [ ] load all cogs/extensions found in the exts/

[2020-12-20 20:28] #17 closed

[2020-12-20 20:37] #19 closed

[2020-12-21 02:12] #10 closed

[2020-12-21 02:45] ReneganRonin commented on #7
I guess this is not needed. https://github.com/gurkult/gurkbot/pull/20 <- done that

[2020-12-21 02:45] #7 closed

[2020-12-22 02:38] gustavwilliam commented on #13
Quality and expansion.

I would like to see a few things. This is not an exhaustive list. This is about the general direction.

### The bot itself
- A high quality, well written and stable bot
- Cutting-edge features and innovation
- Fun commands, with a gurkan (cucumber) theme

### Growth and usage
- Should suite our needs on the Gurkult server
- Should be possible to invite and use in other serv

[2020-12-22 03:03] SuperMaZingCoder commented on #13
Recently on the server, I mentioned the idea of creating a language execution interface. The present members agreed that it was a good idea.

### Usage
Similar to the PyDis Python bot, Gurkbot can be run with:

[code]
and more.

### Issues
* @gustavwilliam mentioned a possible server issues depending on the intensity of the request. I agree that it's a bridge we'll have to cross, but for now we co

[2020-12-22 03:08] gustavwilliam commented on #13
I like the idea of an eval command and I’d love to see it in action. The issue isn’t really about resources, but rather malicious code. We don’t want people to change files and folders, install anything, use all resources, spam requests or execute any other type of malicious code.

If we in fact want a command like this, we have two main options:
1. Sandbox it very well
2. Restrict it to bot admin

[2020-12-22 03:18] ReneganRonin opened #24 "Eval Command"
This is related to issue #13, specifically @gustavwilliam's [comment](https://github.com/gurkult/gurkbot/issues/13#issuecomment-749312590). @SuperMaZingCoder has made a cool [comment](https://github.com/gurkult/gurkbot/issues/13#issuecomment-749310909) as well, please check it out. This issue is where we will discuss things further for the eval command.

[2020-12-22 04:37] Shivansh-007 commented on #24
This would be done using [Tio Run](https://tio.run/#) , which supports more than 600 languages, and add the gurklang run command separetly.
Maybe like
[code]
and for the gurklang it could be like
[code]

[2020-12-22 04:38] Shivansh-007 commented on #24
I would be happy to work on the eval command.

[2020-12-23 09:38] zeeshanok opened #29 "Global error handler"
Our bot needs a global error handler to help out the user when they make common mistakes like `MissingRequiredArgument`, `BadArgument` and `MissingPermissions` etc.

[2020-12-23 09:43] zeeshanok commented on #29
I _can_ do this but I will be busy these few days so if someone would take it on, that would be nice 😅

[2020-12-24 12:50] zeeshanok opened #30 "A default embed helper function"
Currently the process of making an embed is kinda annoying so a helper function can definitely make things faster.

I can implement this feature.

[2020-12-25 15:29] gustavwilliam commented on #15
It's anyone interested in giving this a shot? It's very convenient — especially during development.

[2020-12-25 15:37] gustavwilliam commented on #29
As a base for this error handler, we could probably use some parts of https://github.com/python-discord/bot/blob/master/bot/exts/backend/error_handler.py. I think that error handler is well written and should have a lot of what we're looking for.

This is a high priority issue, since a solid error handler is the foundation of any great bot.

[2020-12-25 15:53] Shivansh-007 commented on #29
Will do it.

[2020-12-25 21:40] Xithrius commented on #15
If no one takes it, I will.

[2020-12-25 22:30] ReneganRonin commented on #15
@Xithrius alright. dunno why no one wants to take it. i am mostly busy so i cant do that as well

[2020-12-27 01:59] gustavwilliam opened #31 "Subscribe command"
We want people to be able to easily subscribe to both announcements and polls. Let's add a command for that. I'm proposing the following.
[code]
This should assign the relevant roles. A similar command should exist for unsubscribing:
[code]

[2020-12-27 03:54] gustavwilliam commented on #2
@saiTama-max Feel free to give it a shot -- I'll assign you.

I already have a polished version of the gurkancount command that was supposed to go on SeasonalBot. We could use that as the base here. https://github.com/python-discord/sir-lancebot/blob/901cb7afbd3bd485152c2c32c52a100a1a023609/bot/exts/evergreen/gurkan.py

Furthermore, we want to either fuzzy match or use a regex for checking if some

[2020-12-27 03:58] RandomDev26 opened #32 "Automatically give Gurkan role on name change"
This feature would have the bot check a member's name every time it changes and if a variant of gurkan is in the name, it would give the gurkan role, else if it is not, it would remove the role. This would be done using the "on_member_update" function of discord.py.

[2020-12-27 04:01] gustavwilliam commented on #6
This should be able to use a lot of the code from the candy game on Sir Lancebot (SeasonalBot).

Instead of reacting with a skull, it would be fun if it reacted with another fruit or some more related thing. A skull is a bit unrelated imo.

I also think we should limit this to a certain channel. We don't want the bot to spam cucumber reactions everywhere. Even with a 1% chance, it gets really anno

[2020-12-27 04:06] gustavwilliam commented on #11
Let's switch the order and have a default repo.
`!issue <number> [repo]`

The default repo would presumably be the gurkbot repo (this one). We should also allow for multiple different repos and orgs to be specified. Like this:
[code]
We should be able to use a lot of the code from the PyDis Python bot, while customizing it to our liking.

[2020-12-27 04:43] saiTama-max commented on #2
so the idea i currently have is to use fuzzywuzzy for the isgurkan command and regex for gurkancount, reason being is that in fuzzywuzzy you get a ratio/percentage on how much the substring matches, this could be used to tell how much _purity_ the person has to the gurkult, but if we use this in the gurkancount command, i dont see any sense in using it there anyway, since we just show the count, a

[2020-12-27 06:33] Shivansh-007 commented on #32
What if a persons's discord username is gurkan?
And what if someone tries spamming, how about using tasks? We could run it every 1 hour or 30 minutes?

[2020-12-27 06:34] Shivansh-007 commented on #24
we can close this now.

[2020-12-27 06:35] Shivansh-007 commented on #11
Sure! Sounds good!

[2020-12-27 06:36] Shivansh-007 commented on #6
How about a knife 🔪?

[2020-12-27 12:54] gustavwilliam commented on #2
In both cases, I would like it to use the same function to give a yes or no answer for if the person is gurkan. Doesn’t matter to me if it uses purely regex, fuzzy matching or a combination.

I also like the idea of adding a “purity” indicator for the isgurkan command. This is how I would imagine the embed for isgurkan:

### ❌ Not gurkan  <- title
`@user` is 15% gurkan.  <- description
(Red embed)

[2020-12-27 13:01] saiTama-max commented on #2
oh so a common function for both? then i think i could use fuzzywuzzy then

[2020-12-27 13:09] gustavwilliam commented on #24
This has been completed. Thanks for the contribution.

[2020-12-27 13:09] #24 closed

[2020-12-27 13:13] gustavwilliam commented on #2
Yep. At least for getting the Boolean that says either True or False. That’s what we use to count the amount of gurkans, check isgurkan and auto-assign gurkan roles. We need to be consistent in what names are considered gurkan and what names aren’t.

[2020-12-27 13:18] gustavwilliam commented on #6
That’s terrifying.

[2020-12-27 13:20] Shivansh-007 commented on #6
Lol, what do you think we should use then?

[2020-12-27 14:25] Vyvy-vi opened #35 "[FEAT]: add gurkify cmd to add gurkan to username"
#### Description:

This command adds converts member.display_name into a gurkan-ified name.
The current approach to this(as discussed on discord) would be:

---

<embed.color=green)>
:cucumber: **GURKAN NAMES**
**Top pick**
Vestergurkan

**Other options**
• Vesurkan
• Vestgurkan
• Gurkangurkan
• Vesturkan

---

[2020-12-27 15:39] gustavwilliam commented on #35
I mentioned an approach to finding the name propositions earlier, on Discord. Do you have any plan on how to implement this? We don’t just want the “top pick” to be a randomly chosen one, but rather a name that should be one of the best.

[2020-12-27 15:41] Vyvy-vi commented on #35
for the best selection, I think we might need to train an ml model..

[2020-12-27 15:44] gustavwilliam commented on #35
I don’t think that’s necessary. There are certain patterns in the names and where certain characters are that indicate how the name should best be modified.

Either way, we could wait with the “top pick” for now, and just implement the basic name list, so we have something to work with.

[2020-12-27 23:05] RandomDev26 commented on #32
I'll also have it check on join

Yes, I agree

[2020-12-28 16:33] gustavwilliam commented on #32
Only checking for this at certain time intervals doesn't sound too good UX-wise. I'd rather receive some minor spam from one odd person. They probably won't even consider this a feature to spam.

However, if we want to be on the safe side, I'm not against implementing some sort of warning for this. Let's say that a person changed their name 15 times in a minute. Then, I wouldn't mind potting that

[2020-12-28 20:07] RandomDev26 commented on #32
I agree, I don't think anyone will think of spamming this feature. So would you like for me to add in a warning or not?

[2020-12-28 21:58] gustavwilliam commented on #32
Not for now.

[2020-12-28 23:12] gustavwilliam commented on #6
I'd probably like to go with a watermelon or mango. That could be fun.

[2020-12-29 11:51] ctrl-shift-make opened #37 "New command proposition by racingnbloxing"
I have a new command proposition.
We discussed about this in the channel #dev-gurkbot. (27 December 2020)

It is to refer to any pull request on a Gurkult project.

Command  = !pr [project name]

This is a universal server command

I hope you are satisfied with my proposal.

[2020-12-29 19:42] gustavwilliam commented on #37
This is already proposed in #11. Pull requests on GitHub are issues. We also discussed the best ways to implement #11 over on the server, but if you want to, feel free to continue the discussion in that issue instead.

I'm closing this, since it's a duplicate.

[2020-12-29 19:42] #37 closed

[2020-12-29 20:23] ChiliPy opened #38 "Custom Help Command"
We need to add a custom help command, as the default one is ugly and a custom one allows us to display whatever we want for it. I'm thinking that we use the flags extension of discord.py for it, as that's basically what the extension was built to do, but it's up to y'all. What do y'all think?

[2020-12-29 20:28] ChiliMX opened #39 "Add allowed mentions to make sure no @everyone/@role pings happen"
Even though most commands that require user input are put into an embed, we still should include allowed mentions just to be safe. We don't want a pydis 2.0 to happen.

[2020-12-30 16:08] vivax3794 opened #41 "Guide for setting up and running the bot"
This should cover cloning the bot, setting up the .env, installing the dev dependencies and pre-commit hooks, and starting the bot

[2020-12-30 17:32] Arnav-2004 opened #43 "Who is working on what?"
So I was think what should I implement but I am confused. We should have an organized way to keep check on what is being worked on and who is working on it and what is left to implement.

[2020-12-31 05:33] zeeshanok commented on #43
Isn't that what Assignees are?

[2020-12-31 06:06] Arnav-2004 commented on #43
Yes but it is hard to keep track.

[2020-12-31 06:17] Arnav-2004 commented on #31
Looks good to me! Can I start working on this?

[2020-12-31 06:23] Vyvy-vi commented on #38
Flags ext is external, right? (not in dpy yet)

[2020-12-31 06:26] Vyvy-vi opened #46 "Make README with some more info, and how to host"
We need a "how to host the bot locally" documentation and a slightly detailed README.
Should this be in the README or in CONTRIBUTING or in a separate docs(or .readme) folder?

[2020-12-31 06:26] Vyvy-vi commented on #46
(I would like to do this if someone else doesn't want to do it)

[2020-12-31 07:35] ReneganRonin commented on #31
@Arnav-2004 you are assigned now. :100:

[2020-12-31 09:25] ReneganRonin opened #48 "Pagination"
A pagination feature can help make our bot's messages and embeds look very cool and tidy. Page for page baby!!!. Anyway, anyone want to implement this feature, I will assign u? I will be busy tomorrow so I won't do it.

[2020-12-31 10:07] YuvrajGeek opened #49 "swear word checker"

[2020-12-31 10:15] gustavwilliam commented on #43
We are planning on implementing an `.issue list` command. Maybe we could show the assignees in some way as well.

[2020-12-31 10:15] gustavwilliam commented on #38
How do you want to use flags for the help command?

[2020-12-31 10:17] gustavwilliam commented on #39
Sure. That's probably a good idea.

Would anyone be interested in implementing this?

[2020-12-31 10:18] gustavwilliam commented on #49
This seems to be two features without any description. Could you split it into separate issues and describe clearly what the features would be about?

[2020-12-31 10:20] Inheritanc-e commented on #39
Yes sure, but for this we would also need logs category, to send notification to certain roles that this event was triggered.

[2020-12-31 10:54] Shivansh-007 commented on #11
I will be working on this along with:

[code]

[2020-12-31 11:16] YuvrajGeek commented on #49
The contributors command (coming straight from the GitHub API):
![image](https://user-images.githubusercontent.com/63858962/103408016-cc497880-4b86-11eb-8226-4da871c9e971.png)

For the toxicity checker, I thought of two ways:
- Listing out all the toxic words in a list and checking their presence in a message.
- Using NLTK for contextual detection of toxicity (I don't have any idea as of now for t

[2020-12-31 11:45] Vyvy-vi commented on #49
with regard to NLTK:
- How much performance demanding would the program be?
- Is the execution time fast?

Moreover, could we consider libraries that do the same, such as python equivalents of alex.js and retext-equality?

[2020-12-31 11:45] Inheritanc-e opened #50 "Have a default config file."
We should have a default config file so that the people that want to contribute don't have to constantly switch between their editor/IDE to discord just to get the id's of the channels or roles. The information in the config file would be accessible across the entire project. The config file could either be json or yaml. We would initialize the information stored in the config in constants.py, and

[2020-12-31 11:46] YuvrajGeek opened #51 "Commands to search GitHub users and repos"
i am thinking of making it like this:

`.gitsearch users YuvrajGeek`
this would send an embed with the top 8-10 search results and if the search results are less than 3, then it will send an embed of the first search result because GitHub ranks user search results on the basis of their activity so first result will always be a reliable one.

`.gitsearch repos gurkbot`
this would send an embed the

[2020-12-31 11:51] Vyvy-vi commented on #51
I think there's already an issue for this in #11 and someone is working on that.
Maybe you could send a message there, so that you could team up on this?

[2020-12-31 11:54] Shivansh-007 commented on #51
Well I dunno if there is a need of them, we could always go to GitHub and search tho.

[2020-12-31 11:57] Shivansh-007 commented on #50
Well this is just a idea, when the bot starts in a particular server it will create a `config.json` or `config.py` file in the root directory containing the emojis and its ids, the roles and its ids and same for the channels. And we could just copy paste these in our python code.

[2020-12-31 11:59] Shivansh-007 commented on #49
Yeah just what Vyvy said and why not just use google bad words list, like [here](https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/badwordslist/badwords.txt)

[2020-12-31 12:01] YuvrajGeek commented on #51
That issue is for this repo only ig, mine is globally for entire GitHub

[2020-12-31 12:02] Inheritanc-e commented on #49
I think swearing would be fine if they don't do it too excessively, we can blacklist some words that would alert a role saying that a person has said a blacklisted word.
This would probably be enough.

[2020-12-31 12:04] Shivansh-007 commented on #51
No no, it is for full GitHub, but the Gurkult is the primary default (according to channels).

[2020-12-31 12:05] Shivansh-007 commented on #49
We can do the alert roles, if the person uses it repeatedly, like 2..3 times in 10 seconds or something.

[2020-12-31 12:05] Vyvy-vi commented on #51
I think it's been implemented for full github already

[2020-12-31 12:10] Vyvy-vi commented on #49
personally, I find nltk models to be rather dull
This is an example of a similar blocking we use in another place(this uses a highly trained library... but still a long way to go)
![Screenshot 2020-12-31 at 5 39 05 PM](https://user-images.githubusercontent.com/62864373/103409978-37974880-4b8f-11eb-8945-0f683b2fd356.png)

[2020-12-31 13:00] Inheritanc-e commented on #50
What do you mean?
The bot should be configured in such a way that it would fulfill the needs of the Gurkult server.

[2020-12-31 13:01] Vyvy-vi commented on #50
we could have the file generate when the bot is run, or should we add it manually?

[2020-12-31 13:05] Inheritanc-e commented on #50
Why would we want to generate a file?
We should just have a default config file on the repo, which would be initialized in constants.py.

[2020-12-31 13:06] Shivansh-007 commented on #50
To avoid the work of getting all ids of roles/emojis/channels

[2020-12-31 13:07] Vyvy-vi commented on #48
Having a default pagination interface would make menus easier to make :+1:
I could work on this..
Though I haven't worked with pagination a lot, so might have a few issues

[2020-12-31 13:07] Shivansh-007 commented on #50
Dynamically when bot is run.

[2020-12-31 13:08] Inheritanc-e commented on #50
Why though?
The bot is configured for the Gurkult server and the default-config would just be the one in the repo.
The bot would interact with config.json

[2020-12-31 13:10] Vyvy-vi commented on #50
That could also be done...
We have 1 default json config which updates when bot is run :+1:
(I was talking of generation, since ppl might use this in other servers)

[2020-12-31 13:12] Shivansh-007 commented on #50
Yeah just like vyvy said

[2020-12-31 13:12] Inheritanc-e commented on #50
Are u saying that we create such a configuration that when people would run the bot in their servers that it would get the required channel and role ids and replace the once in config-default.json.
And for the bot in the Gurkult server, the config file would be constantly be updated.

[2020-12-31 13:18] Shivansh-007 commented on #50
Yes

[2020-12-31 13:21] Inheritanc-e commented on #50
I guess we can do that. Let's see what others have to say.'

[2020-12-31 14:56] YuvrajGeek commented on #49
In that case, we should use the first of the two methods that i gave cuz that would be comparitively more performance efficient.
And yeah, I edited the issue title cuz i have made another one

[2020-12-31 17:06] dhzdhd opened #53 "Wolfram command for gurkbot"
We need a wolfram command ( commonly accessed by !wa ) that accesses the Wolfram API and fetches results in the form of a image based on user queries

I believe i can do it myself as i already have it implemented in my bot

Example:
![image](https://user-images.githubusercontent.com/72333092/103419272-54944180-4bb8-11eb-8cb7-5462cca5c207.png)

Need suggestions regarding whether:
1) Dark mode is ne

[2020-12-31 17:54] gustavwilliam commented on #53
Dark mode could be cool. However, I find it slightly more difficult to read than the standard light mode. If it’s possible to change the background color (to something that’s a bit lighter), I’d like to see how that would look as well.

What is labelbar style?

[2020-12-31 18:28] dhzdhd commented on #53
I forgot to say, it is indeed possible to change the bg colour - need some testing
Also label bar style in given in the API docs
![image](https://user-images.githubusercontent.com/72333092/103421760-143ac080-4bc4-11eb-8b08-7895ff20f17b.png)

[2020-12-31 18:32] gustavwilliam commented on #53
Ah, I see. Personally, I think the entire picture should be a single image, since that looks a bit more unified.

For background color, I’d say either white or a dark, but not black, color. If you could do some testing with colors, that would be fantastic, and showing multiple (50) shades grey here.

[2020-12-31 18:44] dhzdhd commented on #53
it is indeed a single pic - it just looks way neater with the labelbar layout imo
And yes, if this is approved , i will test the colours

[2021-01-01 11:09] YuvrajGeek commented on #53
yea, if the bgcolor could get the same as discord bg color, then that shall look a lot nicer

[2021-01-02 13:21] gustavwilliam commented on #43
I'm currently sorting through the issues and adding the new labels. This should also help.

[2021-01-02 13:21] #43 closed

[2021-01-02 13:25] gustavwilliam commented on #3
There doesn't seem to be much happening here. Maybe we could move this to GitHub Discussions and discuss some ideas, and open issues for specific game ideas that we come up with, if we're interested.

[2021-01-02 13:28] gustavwilliam commented on #8
That could be a fun feature. Could you explain how this would work in some more detail?

[2021-01-02 13:36] gustavwilliam commented on #51
Would this be a general search command, so things like users and repos would both pop up, or would it consist of two subcommands? We already have something for finding exact users and possibly repos in #11, so I'm not sure what purpose this would serve. If someone is looking to browse GitHub users, why not just go onto GitHub.com?

In short, I'm asking these two things:
- Would this be useful?
- H

[2021-01-02 13:38] gustavwilliam commented on #11
@Shivansh-007 are you currently working on this?

Also, I'd love to see one PR for each subcommand. A huge PR with four subcommands can be quite tricky to get reviewed.

[2021-01-02 13:39] gustavwilliam commented on #12
Honestly, we don't really use GEPs anymore. Let's not do this unless we decide to go down that path.

Also, I don't think a GEP channel is really necessary. Let's just manage it from the site.

[2021-01-02 13:39] #12 closed

[2021-01-02 13:41] gustavwilliam commented on #13
@ReneganRonin what do you think about putting this in a GitHub discussion? Right now this is much more of a discussion than anything, and we can create a roadmap issue once we have a more complete understanding of this.

Cc @Xithrius

[2021-01-02 13:46] gustavwilliam commented on #15
Hey @Xithrius, do we have any progress on this?

If you want something to base this on, the PyDis ext commands are pretty good. I personally migrated it from Python to
Sir Lancelot (SeasonalBot) a while back, and it shouldn't be a nightmare to migrate to this bot, if you want to use it as a base.

[2021-01-02 13:55] gustavwilliam commented on #30
This would be great to have. We could have different types of _default embeds_, like “categories.” For example, you could pass “error” as an argument and it would add the right emojis and colors for the error embed. This would help make the bot feel consistent and make the code more DRY.

We discussed this with @Arnav-2004 and Vyvy on the server earlier. This is a really helpful feature to have, s

[2021-01-02 13:58] gustavwilliam commented on #35
Do you have any thoughts on how this could be done? What would be some ways to "gurkify" a name?

[2021-01-02 13:59] gustavwilliam commented on #39
Do we really need that?

[2021-01-02 14:00] Inheritanc-e commented on #39
Better safe than sorry

[2021-01-02 14:03] gustavwilliam commented on #38
Aslo @Vyvy-vi, flags aren't part of the default d.py. We'd also have to change large parts of the codebase iirc if we want to use flags, since they require a custom decorator for all commands. That's not necessarily something bad, but we'd have to discuss that. I think flags may actually be quite nice to have. Would you like to start a Discussion thread on the repo about adding flags?

Let's make

[2021-01-02 14:07] YuvrajGeek commented on #51
## Question 1:
I have seen in some programming servers that the chat talks about something of GitHub and its not able to reach to an explicit point. This is not a "must have" command (that gets the high priority badge) but it makes a programming server look more in the niche. And, if demanded, I can add special priviliges to the results of Gurkult and its repositories but I think this is what is b

[2021-01-02 14:19] gustavwilliam commented on #48
Excellent. Personally, I think a menu row of reactions for navigation would be best if we had different versions of it. The buttons would navigate the embed pagination or delete the embed. There are three main types of navigation that I think we should have — the following:

If the embed is 4+ pages:
⏪ ◀️ ▶️ ⏩ 🗑️

If the embed is 2 or 3 pages:
◀️ ▶️ 🗑️

If the embed is 1 page:
🗑️

The last one is

[2021-01-02 14:25] gustavwilliam commented on #49
We would presumably have a filter on the bot, that alerts mods and/or deletes the messages that include things we absolutely don't want to have on the server. This could be nazist and rasist symbols and words, that mods should be on the lookout for.

However, I don't want some feature that penalises the users for swearing. The toxisity checker also seems like a nightmare to implement, if it can ev

[2021-01-02 14:27] YuvrajGeek commented on #49
Yeah, you are absolutely right. I agree that we should have a filter checker rather than an absolute "toxicity" checker.

[2021-01-02 14:31] gustavwilliam commented on #50
I like the idea of having some default config. Maybe we could include a file that defaults to the bot test server, so it's easy to get started with contributing.

Regarding scalability, I think we should have a setup wizard command for servers in the future, but that's nothing we should think about right now imo. For now, I think a config file would be fine, that you duplicate (and change the name

[2021-01-02 14:36] gustavwilliam commented on #51
I don't quite see what you're referring to in how it would be useful. Would we look more "in niche" by letting users fuzzy search repos, instead of searching with for an exact one, on the bot? That doesn't quite make sense.

Issue #11 is referring to having gurkult as the default, but still letting the user specify any repo from any organisation and user.

[2021-01-02 14:38] #49 closed

[2021-01-02 14:51] Inheritanc-e commented on #50
Ye, but we could also make it so that they wouldn't have to go through the hassle of getting the ids of channels and roles.
The bot could just get it for them and create the config.yaml or config.json file. This should also only work on servers that have the same channels and roles as the test server, and for the actual bot we should have a config file that would be updated  when some changes made

[2021-01-02 15:21] YuvrajGeek commented on #51
Okay, I get your point. Closing this issue now. But I have written some code, see if it can be utilised for #11 .

[2021-01-02 15:21] #51 closed

[2021-01-02 15:59] gustavwilliam commented on #50
That would require having the exact same channel names?

[2021-01-02 16:01] Inheritanc-e commented on #50
Yes it would as it would indicate that they are configuring the bot to contribute to Gurkult.

[2021-01-02 16:07] dhzdhd commented on #53
I would like to be assigned to this command please :)

[2021-01-02 16:10] gustavwilliam commented on #53
I'd like for us to have a direction for the command before coding it, so the reviews won't largely consist of "could we add this field" and "why is that field there." Some details can be tried out, but we should try to understand how most of the command would work first.

How do you think that the embed should look?

[2021-01-02 16:11] Shivansh-007 commented on #11
Yes almost done

[2021-01-02 16:14] dhzdhd commented on #53
I sent the screenshot of the embed in my original issue and that is exactly how I would like it to look

[2021-01-02 17:09] gustavwilliam commented on #53
Alrighty. I appreciate that you gave some thought to the edge case of where no image is returned. Regarding point 4, why would we want that? I'd prefer if we ping the user in the message (set description) and include the embed. That's what we do in the other commands — at least for now.

The title could probably be improved. We have a command on Sir Lancebot (SeasonalBot) that looks like this:
<im

[2021-01-02 17:25] gustavwilliam commented on #50
Why wouldn't they just join the server and the test server? If they *really* want to do it on their own, they could possibly just enter the IDs imo.

[2021-01-02 17:31] Inheritanc-e commented on #50
By having this, the people that don't want to test in our test server, wouldn't have to go through the hassle of getting the ids of all the channels and roles.
I mean not everyone would want to test in the test server.

[2021-01-02 17:45] Arnav-2004 commented on #53
If you are typing the command you probably know what you are searching for so I mean adding the search in the title would be unnecessary but let's see what others think

[2021-01-02 17:47] dhzdhd commented on #53
Regarding the title, it is indeed true, the query part in the author section of the embed is not needed. Also, i will not include
the footer with the name, timestamp , etc - I am just used to it :)

I will heed your advice and will implement it if i do get approved for working on this

[2021-01-02 22:59] Vyvy-vi commented on #35
we could do something like this(there might be better ways to do this tho):
[code]

[2021-01-02 23:14] Vyvy-vi commented on #50
perhaps we could make a setup.py file, to make the config.json file(it can be run, when using the bot for the first time)
imho, keeping it customisable according to contributors/users(since, this is oss), for testing in their own servers, if they want..
Moreover, if we don't make a config file or something like that, we might have to add extra guidelines in the readme on how to change the values e

[2021-01-02 23:45] Vyvy-vi commented on #48
I would checkout PyDis' paginator, when I get time :+1:

[2021-01-03 01:50] ReneganRonin commented on #13
great idea @gustavwilliam :3

[2021-01-03 01:53] Shivansh-007 commented on #50
Well that is something I was working in, and it is a time taking process and Python Discord is already building a smart config, so either we what till. March for that or you gives me sometime to come with a way to do that.

[2021-01-03 04:24] Inheritanc-e commented on #50
Why would we have to wait?
We could just make a config that suits our needs rather.
The only thing that this config is supposed to do is store the ids of roles and channels in `config.(yaml or json)`.

[2021-01-03 06:37] Xithrius commented on #13
@gustavwilliam yep, probably best to put this within a discussion.

[2021-01-03 06:39] Xithrius commented on #15
@gustavwilliam I'll probably use a variant of the one that I have in my own bot. The command can be seen [here](<https://github.com/Xithrius/Xythrion/blob/main/xythrion/extensions/administration/development.py#L21-L51>).

Will most likely change it once error logging and any other PRs are merged.

[2021-01-03 06:53] codephile1221 commented on #50
I like the general idea but I'm unsure as to whether we should wait for [Smart Config](https://github.com/python-discord/smartconfig) to be developed or make something of our own in the mean time.

Just a small note, we shouldn't call it `setup.py` since that's meant for metadata about the project and for `pip` to manage dependencies, etc. . It's never directly run, too.
We can make a .py script o

[2021-01-03 07:29] Inheritanc-e commented on #50
Right, but that's not the purpose of **this** issue though.
For this issue, what I am suggesting is that

- Have a `default-config.(JSON or YAML)` file.
- The bot will get the ids of roles and channels and create a new file called `config. (JSON or YAML)` with the all the retrieved.
- When there are changes made in the server such as creating a role, channel, etc, or deleting it, the bot would upd

[2021-01-03 09:50] Arnav-2004 commented on #30
Yes this would be very helpful

[2021-01-03 13:08] gustavwilliam commented on #15
Ah, perfect. For the record, I've put this as a high priority issue, since it's really important during development of basically all features.

[2021-01-03 13:12] Inheritanc-e commented on #15
umm do u mean commands or cog?

[2021-01-03 13:14] Shivansh-007 commented on #15
Cogs

[2021-01-03 13:24] gustavwilliam commented on #50
For testing purposes, this could possibly work great. We could probably make sure that the user just runs it through enabling a DEV flag or something. This means we could add something to automatically create categories and roles that don't yet exist, through checking which ones already exist in the server. This would allow the bot to update the server to match the default config easily, on first

[2021-01-03 13:27] gustavwilliam commented on #53
What title do you think would fit? Any ideas?

[2021-01-03 13:29] Inheritanc-e commented on #50
I think you misunderstood my third bullet point.
What I meant was when the bot would be running on the server, we wouldn't want to have roles and channels that are already deleted or have been edited, so we should listen for those events through the bot and the bot would change the information in `config. (JSON or YAML)`.

[2021-01-03 13:30] gustavwilliam commented on #50
So, the user could have a test server that doesn't have all of the required roles?

[2021-01-03 13:31] Inheritanc-e commented on #50
Well we could create the roles that are missing as u stated.

[2021-01-03 13:34] gustavwilliam commented on #50
This is what I'm proposing that the bot does when the script is run (could be configured to run automatically on every git pull)
1. Check what roles and channels exist
2. Update IDs in config file to match the ones on the server
3. Create the ones that don't exist and store IDs

The user could also choose to run it manually whenever they think it's needed, using something like `pipenv run sync-ids

[2021-01-03 13:36] Inheritanc-e commented on #50
Why would we want to update it only when ran?
Why not immediately after the changes made?

[2021-01-03 13:45] gustavwilliam commented on #50
Well, here are the times that I think we should run it:
- On git pull, if configured to do so
- When running it directly through a command

Do we also want it to run every time the bot starts? Nah, that's probably overkill, or what do you think?

[2021-01-03 14:04] Inheritanc-e commented on #50
Run what may I ask

[2021-01-03 14:05] vivax3794 opened #61 "removing of develop branch."
it was decided that we should remove the develop branch. the actions that should be taken are:

- [x] redirect all current prs to main
- [x] merge develop into main
- [x] delete develop

[2021-01-03 14:07] gustavwilliam commented on #50
The script that updates the config file to match the server.

[2021-01-03 14:10] Inheritanc-e commented on #50
It wouldn't be a script, it would just be a cog that listens for events in the server and update the config file accordingly.

[2021-01-03 14:16] #61 closed

[2021-01-03 14:16] gustavwilliam commented on #61
Thanks. We have merged and deleted the develop branch now.

[2021-01-04 07:43] dhzdhd commented on #53
The title of the embed from python discord is good enough I suppose.
If anyone else has any other ideas, they can pitch in

[2021-01-04 11:13] gustavwilliam commented on #53
Alright. I think we have a clear enough understanding of the command now. I'll assign you; thanks!

[2021-01-04 16:12] Arnav-2004 commented on #32
You need to fix one thing if not already done : It adds Gurkans role to the bots which have gurkan in their name like this one
![image](https://user-images.githubusercontent.com/70969910/103554948-b664ec00-4ed5-11eb-9de1-1f8749f19453.png)

[2021-01-05 04:50] RandomDev26 commented on #32
Added that in rn

[2021-01-06 05:51] Shivansh-007 opened #67 "Addition of a new category queries."
## Description
A category named query, which is basically searching and getting answers, this category will include feature like [Wikipedia](https://www.wikipedia.org/), [urban dictionary,](https://www.urbandictionary.com/) [stack-overflow](http://stackoverflow.com/), [cheat-sheet](http://cht.sh/) and [Mozilla developer docs](https://developer.mozilla.org/).

## Reasoning
This will allow users to

[2021-01-07 04:26] Shivansh-007 commented on #8
This issue is included in #67.

You can have a look here: [Urban Dictionary Rapidapi](https://rapidapi.com/community/api/urban-dictionary),
![Screenshot from 2021-01-07 09-55-54](https://user-images.githubusercontent.com/69356296/103850963-99dfd400-50ce-11eb-83b1-2ae6a95b82f3.png)

Not sure if it is required tho.

[2021-01-07 11:17] gustavwilliam commented on #8
Let's remove the votes and image. Other than that, it's probably fine 👍

[2021-01-07 13:20] #2 closed

[2021-01-10 02:29] #41 closed

[2021-01-10 02:29] #46 closed

[2021-01-10 06:17] Inheritanc-e commented on #50
So here is the plan.

1. We would have a `syncer.py` in the backends folder which would sync the changes made in the server to the config file.

2. We would have a `check_required_keys` function in our `constaints.py` file which would check if the required keys exist or not.

3. We would use the `check_required_keys` function in the `syncer.py` file to check if the server has the needed roles and

[2021-01-10 16:58] SuperMaZingCoder opened #70 "`isgurkan` command works for any input."
The `!isgurkan` command is currently accepting any input, regardless of whether it is an actual user or not. Here is an example:

![image](https://user-images.githubusercontent.com/55718659/104129662-f0514a80-533a-11eb-8f4f-dc71dd3c8fa2.png)

I think we should add some checks to ensure that the input is a *mention* or *user ID*. What do you all think?

[2021-01-10 17:11] Inheritanc-e commented on #70
We should just specify the parameter to be `discord.Member`, because

1. Not everyone has developer mode turned on.
2. People don't when they are pinged for no reason.

[2021-01-10 17:12] gustavwilliam commented on #70
I personally don't mind checking strings. For example, something like this should be valid imo:
<img width="294" alt="Screenshot 2021-01-10 at 18 12 36" src="https://user-images.githubusercontent.com/65498475/104130133-6c658580-536f-11eb-937c-0c8418b570d3.png">

[2021-01-10 22:39] gustavwilliam commented on #50
Why do you want a sync that goes the `SERVER => CONFIG` direction? If people create a bunch of roles, they should not be added automatically to the config files. Instead, the user should add it manually, if they make changes.

Especially in test servers, there are often `sudo` or `testers` roles, made to let people test freely on the server. If all roles were added to the config automatically, thi

[2021-01-11 03:20] Inheritanc-e commented on #50
Ye that does make sense.

So..., we would have a script that creates a config file containing all the required information in the server, if some of the required information is not present in the server then the bot would create it, and add it to the config file?

Also, when would the bot check if the roles and ids exist or they have been deleted?

[2021-01-11 06:23] Shivansh-007 commented on #29
We can close this now.

[2021-01-11 12:12] gustavwilliam commented on #50
Basically, yeah. These are the two files that I think should exist, where both should have either a JSON or YAML format. The names can be changed.
- `server-config` — auto-generated config file with the correct IDs from the server.
- `server-config-list` — the parts of the server config that should be present in the `server-config` file. This is a bit like "requirements.txt", where we list the thi

[2021-01-11 12:19] Inheritanc-e commented on #50
Sounds good. Now we need to agree on the type of file that needs to be used.

[2021-01-11 21:37] gustavwilliam commented on #29
Excellent. Thanks!

[2021-01-11 21:37] #29 closed

[2021-01-13 11:34] gustavwilliam commented on #70
I'm closing this, unless we have something more to add.

[2021-01-13 11:34] #70 closed

[2021-01-16 13:19] codephile1221 commented on #30
I'll try to give this a shot.

[2021-01-16 14:27] Arnav-2004 opened #74 "Eval command bug"
When you do
!e py
[code]
Here the language is specified outside the code block
It gives error: https://discord.com/channels/789192517375623228/793570459945926717/800007399778811954

but when you do
!e
[code]
Here the language is specified inside the code block
It does not give error: https://discord.com/channels/789192517375623228/793570459945926717/800007441349345281

[2021-01-16 14:33] Arnav-2004 opened #75 "Polls command"
How about a polls command which can be used to create polls? I don't know how useful this will.
![image](https://user-images.githubusercontent.com/70969910/104814585-c9f94680-5835-11eb-8017-78a3f98f85f1.png)
It could look something like this

[2021-01-16 14:37] gustavwilliam commented on #30
Like master Yoda once said:

;)

[2021-01-16 15:06] ReneganRonin commented on #75
I would be very glad if someone can implement this. @gustavwilliam i think it is a good idea?

[2021-01-16 19:58] gustavwilliam commented on #75
Yeah, this would be nice. Don’t we already have an open issue for it though?

[2021-01-17 04:35] Arnav-2004 commented on #75
No I don't think so

[2021-01-17 11:00] codephile1221 opened #76 "UserInputErrors are handled improperly"
![image](https://user-images.githubusercontent.com/37447267/104838260-3aa27080-58d3-11eb-8471-c289ac3eee43.png)

As you can see, `MissingRequiredArgument` is being handled twice.
`MissingRequiredArgument` is derived from `UserInputError` and is being handled in [`error_handler.py`](https://github.com/gurkult/gurkbot/blob/c9811c5318ebca701ed114065e614db281c29e23/bot/exts/backend/error_handler.py#L5

[2021-01-18 14:03] Shivansh-007 opened #78 "Use custom status embeds for workflow runs"
This will introduces custom status embeds for our workflow runs. The standard embeds GitHub sends to our webhook do not contain a lot of information and, because they're being sent for every individual workflow, generate a lot of noise in our `#dev-log` channel. By using a custom action to send embeds, we can fine tune when we want to send out an embed.

### Examples
**Pull Request Embed**

![imag

[2021-01-20 04:48] Inheritanc-e opened #79 "Use a decorater rather than `inwhitelistcheckfailure`."
We should use a decorator instead of `inwhitelistcheckfailure` as it's not callable.
This is an example of how it  would be used
[code]
If the `bypass_role` is not given then `bypass_role` will be equal to a tuple containing the ids of Supreme Cucumber, Council, and lords.

[2021-01-20 14:56] stdlib-h opened #80 "wrapped"
for wrapping.yml maybe we can add more header files or import more classes by

[code]
and add more for the other languages

[2021-01-22 05:59] Shivansh-007 commented on #80
Yeah! This would be a good idea.

[2021-01-22 06:03] Shivansh-007 commented on #74
Hmmm, do you know what is causing this issue?

[2021-01-22 06:04] Shivansh-007 commented on #11
We can close this, thanks!

[2021-01-22 06:20] codephile1221 commented on #11
Thank you for contributing! :star2: :star2: :star2:

[2021-01-22 06:20] #11 closed

[2021-01-23 00:18] vivax3794 commented on #80
haskell could maybe be
[code]

I am on the edge if _I_ want the print in there or not, for example if we run with wrapped on `take 10 [0..]` it would print out the result, BUT if we do `mapM_ print [1, 2, 3, 4, 5]` it would error as it can't call print on `IO ()`
we could do some **magic** to make it work
[code]
but as the `unsafePerformIO` says, it is unsafe.

[2021-01-23 12:00] #76 closed

[2021-01-25 13:41] codephile1221 opened #84 "Make `gurkult/gurkbot` the default repo."
Currently, if a repository is not mentioned when the !github command is invoked, the repository will default to  the following:

- `gurkult/gurkbot` if the command is invoked in `#dev-gurkbot`
- `gurkult/py-gurklang` if the command is invoked in `#dev-gurklang`
- `gurkult/reagurk` if invoked in `#dev-reagurk`
- `gurkult/branding` if invoked in `#dev-branding`

This is fine and good.
However, the c

[2021-01-25 13:50] codephile1221 opened #85 "Allow the github subcommands to be invoked directly."
The usage for the github command is currently as follows: `!github subcommand`. Trying to directly invoke the subcommand like `!subcommand` shows no output.

For example, `!github issue 23 python/cpython`. A usage such as `!issue 23 python/cpython` is currently not supported.
It would be cool to support such a usage.

This issue can be addressed in the same PR as issue #84.

[2021-01-25 13:52] codephile1221 commented on #85
I can work on this issue since it is very trivial.

[2021-01-25 14:20] codephile1221 commented on #84
I can work on this issue since it is very trivial.

[2021-01-25 17:20] gustavwilliam commented on #15
Is anyone interested in working on this issue? Xithrius doesn’t have time for it at the time being.

[2021-01-26 10:27] Shivansh-007 commented on #75
We can close this since, it is no longer needed. Thanks!
-According to the discussion in [#dev-gurkbot](https://discord.com/channels/789192517375623228/789295038315495455/803528818160697366).

[2021-01-26 10:28] Shivansh-007 commented on #8
We can close this issue, as it going to be handled along with #67 .

[2021-01-26 10:30] Shivansh-007 commented on #67
Waiting for @Vyvy-vi as they are working on the pagination for the bot. Which would be required to do this.

[2021-01-27 14:07] ReneganRonin commented on #15
i guess i will start working on this over the weekend. i will review the docs.

[2021-01-27 14:39] anand2312 commented on #38
Has anything been decided on this?
I'd suggest doing it a bit different from the PyDis way; where it lists all the commands on calling a bare `!help` - and instead go with displaying all possible _cogs_  - giving you all the different groups of commands available.
Calling `!help <cog name>` gives you the list of commands in that cog with their short help strings and `!help <command name>` for the

[2021-01-29 21:34] vivax3794 commented on #80
we could also just not have any wrapping with haskell, seeing as it's main method is not really that complex to just write.

[2021-02-06 17:02] pomegranategurk opened #89 "On-reaction deletion of bot messages"
Feature: Say when **someone sends !gh source**, the bot will **send the github link like normal.** But **it will react to the message** (The message the bot sent) with a (example) trash can. When the **original sender of the message reacts to the message with the trash can, it will delete the github link**.

[2021-02-06 17:07] gustavwilliam commented on #89
We should definitely have this. However, I'd like it to be the default for the bot embeds, instead of being manually applied on every command. There should aslo be a setting to disable the reaction for that specific embed. I wouldn't mind using decorators or any other implementation that you could figure out.

[2021-02-06 17:09] pomegranategurk commented on #89
(this is my first issue so i might be a little slow) Are you saying that only embeds have a deletion feature?

[2021-02-06 17:10] gustavwilliam commented on #89
Nope. I think this should apply to all bot outputs, but we almost exclusively use embeds.

[2021-02-06 17:11] pomegranategurk commented on #89
Cool. When you were talking about decorators are you saying that in the bots code say we had `await channel.send` we would put (example) `@deletable` before the message is sent?

[2021-02-06 17:12] gustavwilliam commented on #89
Yep, that would be the idea. However, I'm not sure what the best way forward would be.

[2021-02-06 17:20] codephile1221 commented on #89
Yes, I think we exclusively use embeds for bot outputs. However, any output sent in a normal message form will anyway be short and will not take much screen space, and hence not warrant the need for it to be deleted in most cases.

[2021-02-06 17:22] codephile1221 commented on #89
I think #83  will handle the deletable embed issue. However, there has been no correspondence by the author on the issue lately :angry:  .

[2021-02-06 17:37] pomegranategurk commented on #89
Sorry for not responding, I had to eat lunch.
But I will look into ways to possibly implement this. And even we don’t have a need for it now, it might come in handy down the road.

[2021-02-07 01:58] pomegranategurk commented on #89
I might not have time to implement this as classes are getting weird since a bunch of kids have gotten quarantined. (And I don't know what i'm doing, so I'd have to spend extra time googling.)

[2021-02-25 09:53] RohanJnr opened #92 "Changing off-topic prefix"
## Abstract
Change off-topic channel prefix every day.

## Implementation
Store off-topic names in a JSON file.
[code]

## What off-topic names?
Off-topic names should be added via a command.
This command would be only used by mods+ (Idk what roles should be able to use it).

[2021-02-25 13:37] gustavwilliam commented on #92
Nice idea! A few thoughts:
- Lord gurkans+ should be able to use it imo, or contrib+
- If we're storing the name of the user who added it, why not store more data? We can store the message ID that added it, the time it was added, last used and who added it. This will allow us to make links to just to message and display some nice meta-data about it.

 For the way we store the names (assuming we us

[2021-02-25 16:13] RohanJnr commented on #92
looks good, I was wondering if we wanted to store this in a database instead of JSON incase there is a plan on getting a DB

[2021-02-25 16:51] gustavwilliam opened #93 "Setup Postgres database"
We need a database for the bot and the plan is to use Postgres.

[2021-02-25 16:56] RohanJnr commented on #93
We can use asyncpg/sqlalchemy_aio for connecting to the database with the bot.
Also, a docker-compose file to run the bot and the database in 2 containers.
#92 can be the first feature that can use this database.

[2021-02-25 17:01] gustavwilliam commented on #93
Sure thing! I haven't used that database manager, but I'll trust your judgement on that one, unless someone else has something to add.

[2021-02-26 17:42] ShakyaMajumdar opened #94 "New Feature Idea: Command to send random, small programming challenges from codewars.com"
I think this could be a fun feature; if someone invokes a command like `!kata` the bot sends a random kata from a db.

I have made a bare-bones implementation as a personal project, you could check it out at https://github.com/ShakyaMajumdar/KataBot/blob/master/bot/exts/challenges.py.

This what it looks like currently:
![image](https://user-images.githubusercontent.com/69471777/109335375-f3bb7980

[2021-02-26 17:44] v1nam commented on #94
seems good to me :+1:

[2021-02-26 17:45] v1nam commented on #94
but are you storing the challenges manually?

[2021-02-26 17:46] ShakyaMajumdar commented on #94
No; there's a function which I call to update the database of stored challenges.

We could just loop this to be called at specified time intervals automatically

[2021-02-26 17:48] ShakyaMajumdar commented on #94
I had also wanted to include some way to test submissions from users, but unfortunately I couldn't think of any way to extract sample input and output from the API response and all katas don't have examples any way.

[2021-02-26 17:48] v1nam commented on #94
So have you like stored every single challenge there is in a db, and can update with a command, wont that be slow as there are like so many katas? though if we use asyncpg with postgres i think it wouldnt be that slow, if asyncpg doesn't lie about its speed

[2021-02-26 17:51] ShakyaMajumdar commented on #94
I extracted the latest 30 katas everytime I ran `!update_kata_db`, so I guess considering overlaps there are around 100 katas atm.

I don't think that's so large as to cause performance issues

[2021-02-26 17:53] v1nam commented on #94
Ah alright, seems like a good idea to me, though we would have to wait till we get a db setup

[2021-02-26 17:55] ShakyaMajumdar commented on #94
Fair enough

Maybe json could be a temporary solution?

In that case I might have to put aside my hatred for the format for the time being lol

[2021-02-26 17:57] v1nam commented on #94
no no no no not json :no_good:

[2021-02-26 17:58] ShakyaMajumdar commented on #94
well that's good news I think
any other ideas or do we put this on hold till the db gets set up?

[2021-02-26 17:59] v1nam commented on #94
i think we will have to wait for the db :((

[2021-02-26 18:05] ShakyaMajumdar commented on #94
sure, no probs.
I'll keep my eyes open on #93 then.

[2021-02-26 18:06] RohanJnr commented on #94
You can except the DB pr by next week, a lil busy with a hackathon this weekend

[2021-03-06 02:23] #74 closed

[2021-03-06 06:02] ShakyaMajumdar opened #96 "New Command Suggestion: !bonk"
When invoked, will send a gif of the user mentioned being bonked.

Example:
!bonk @hahastinkypoop

![out](https://user-images.githubusercontent.com/69471777/110197135-7daea800-7e6f-11eb-9612-ca2f23d6810b.gif)

[2021-03-06 11:20] v1nam commented on #96
is this just inserting the resized pfp in the image array of the gif, and inserting a more resized pfp at the bonking frame?

[2021-03-06 11:20] ShakyaMajumdar commented on #96
Yeah

[2021-03-06 11:21] v1nam commented on #96
nice then

[2021-03-06 11:22] ShakyaMajumdar commented on #96
Should I start working on incorporating it into the bot?

[2021-03-06 11:31] v1nam commented on #96
yah should be good, though can you make the bg transparent :thinking:

[2021-03-06 11:44] ShakyaMajumdar commented on #96
Tried it, didn't quite work out:
![image](https://cdn.discordapp.com/attachments/789198156218892358/817631301481529364/out.gif)

[2021-03-06 11:46] v1nam commented on #96
welp

[2021-03-06 11:46] v1nam commented on #96
What are you doing to make it transparent? wouldn't it be better to make the template transparent from a designing editor or something beforehand?

[2021-03-06 11:48] ShakyaMajumdar commented on #96
Searches on stackoverflow, lol

the original gif is already transparent, it gets messed up only when I paste another image on it.

[2021-03-06 11:54] v1nam commented on #96
That's probably because you are opening it in RGB mode

[2021-03-06 11:54] v1nam commented on #96
Did you try doing it with `RGBA`?

[2021-03-06 11:54] v1nam commented on #96
Or would be easier if I can look at the code

[2021-03-06 12:00] ShakyaMajumdar commented on #96
code:
https://gist.github.com/ShakyaMajumdar/2eeabfadd4536c7291f1b322f31313fa

[2021-03-06 12:02] gustavwilliam commented on #96
Hi, this is a nice command. Two things:
- I dislike that particular gif. Could you use some other one?
- Let’s put the avatar in a circle (like it is on Discord)

mother than that, great work!

[2021-03-06 12:04] ShakyaMajumdar commented on #96
Sure, I'll search for some more, am also open to suggestions from others.

Think that shouldn't be too hard

Thanks!

[2021-03-06 12:11] codephile1221 commented on #96
Hello @ShakyaMajumdar , it is I, Yoda- Jedi Master and Grand Master of the Jedi High Council.

Feel free to open a draft PR if you are just working out ideas.

[2021-03-08 07:28] #32 closed

[2021-03-08 09:20] v1nam opened #102 "New command suggestion: !color"
This command can be used a good tool to show pictures of hex colors or rgb, for example if the user invokes through `!color #ff0123` the bot will send a picture of that color

I would like to work on this myself

[2021-03-08 09:25] gustavwilliam commented on #102
Yes please! I *really* want this.

Could you also allow both with and without the `#`?

[2021-03-08 09:26] v1nam commented on #102
yeah, I am going to make a separate parser function which parses the input and returns a color type

[2021-03-11 08:39] codephile1221 commented on #92
Database all the way baby.

[2021-03-19 06:27] RandomDev26 opened #108 "New Command Suggestion: !tex"
This command would take in input of tex, and render it.

So something like
`!tex \theta_j := \theta_j - \alpha \sum^{m}{i=1} (h\theta(x_i)-j_i)`

would output
![image](https://user-images.githubusercontent.com/76191036/111739856-f97dfc80-8840-11eb-9de8-075c6a4b182f.png)

I currently plan to use matplotlib to render, but It may change.

[2021-03-22 18:47] gustavwilliam commented on #96
This has been merged. Thanks for implementing and reviewing it!

[2021-03-22 18:47] #96 closed

[2021-04-26 04:45] Shivansh-007 commented on #48
This can be closes, implemented in #114

[2021-04-27 03:08] #48 closed

[2021-05-01 17:10] #93 closed

[2021-05-01 20:38] #92 closed

[2021-05-03 01:50] m0nk3ybraindead opened #124 "New Command Suggestion: Tag"
Tag commands? We all know this I don't need to explain

[2021-05-11 06:26] gustavwilliam opened #126 "Increase ot-names update rate"
Update the active ot-name very 12 hours, instead of every 24 hours.

This means we'll get new names quicker, instead of having to wait a full day for a new name. If we get a repeated name, this will hopefully make things less boring. Aka more fun.

[2021-05-11 13:54] dawnofmidnight opened #127 "Actions Embeds"
Currently, the embeds in `#dev-log` aren't very informative. It would be nice to set up Sebastiaan's [fancy actions embeds](https://github.com/marketplace/actions/github-actions-status-embed-for-discord) so that we know which PR succeeded or failed.

This would allow us to go from this:
![image](https://user-images.githubusercontent.com/78233879/117827196-c6ebf100-b23e-11eb-9b4c-34ca08982e61.png)

[2021-05-16 15:22] Shivansh-007 commented on #127
Duplicate of #78

[2021-05-20 08:19] Akarys42 commented on #127
Duplicate of #78 as pointed out by Jason.

[2021-05-20 08:19] #127 closed

[2021-05-26 06:24] v1nam opened #128 "Scrabble Board Game"
I'd like to see an implementation with emojis, continued input and reactions for the scrabble board game added to gurkbot, for more information on the board game- [https://en.wikipedia.org/wiki/Scrabble](https://en.wikipedia.org/wiki/Scrabble)

[2021-06-22 14:19] Arnav-2004 commented on #31
We can close this issue now.

[2021-06-22 14:19] #31 closed

[2021-06-23 11:15] Arnav-2004 opened #132 "Bot Status"
This will include !ping and !stats

`!ping`
![image](https://user-images.githubusercontent.com/70969910/123087428-27776c00-d442-11eb-8300-b8eb185a126a.png)

`!stats`
![image](https://user-images.githubusercontent.com/70969910/123087287-00b93580-d442-11eb-9e90-a8959ed7b24b.png)

- [ ] Anyone can implement this feature.
- [x] I would like to implement this feature myself.

[2021-06-24 08:04] RohanJnr commented on #132
Looks good, go for it.

[2021-06-25 06:31] Arnav-2004 commented on #94
@ShakyaMajumdar would you like to start working on this?

[2021-07-30 04:44] vivax3794 opened #136 "We should start writing tests."
I have been thinking about unit tests for gurkbot lately.
I think we should have tests for the stuff we can test (I know we could in theory test everything, but lets start simple), one simple example is [OffTopicName](https://github.com/gurkult/gurkbot/blob/main/bot/converters.py#L16-L34)

personally, I would go with `pytest` + `hypothesis` (<https://hypothesis.works/>)

_I would **LOVE** to do th

[2021-08-07 19:28] #132 closed

[2021-10-01 08:45] #102 closed

[2021-11-02 02:45] codephile1221 commented on #84
Good work, @codephile1221.

[2021-11-02 02:45] #84 closed

[2021-11-08 03:39] Arnav-2004 opened #149 "[Suggestion] Subscribe and Unsubscribe Command"
Right now we can't control the `!sub` and `!unsub` command much at all. We should change it so that `Gurkan Steering Council` can add or remove (or disable) any of the roles.

I would like to work on this if time permits.

[2021-11-08 06:41] Arnav-2004 opened #150 "[Suggestion] Subscribe and Unsubscribe Command"
Right now we can't control the `!sub` and `!unsub` command much at all. We should change it so that `Gurkan Steering Council` can add or remove (or disable) any of the roles.

I would like to work on this if time permits.

[2021-11-08 06:41] #150 closed

[2021-11-08 06:41] Akarys42 commented on #150
Replaced by #149

[2021-12-09 14:09] JustARandomDeveloper opened #151 "Banned word automod command to avoid raids."
[Suggestion]

Banned word automod command to avoid raids.

[2021-12-09 14:22] JustARandomDeveloper opened #152 "Moderation commands"
More moderations commands like mute and automod.

[2021-12-13 05:46] onerandomusername opened #153 "contributing guide"
neither .env-example or README.md mentions anything about having a database running or anything.

[2021-12-13 05:59] onerandomusername opened #154 "gha: pre-commit is not run in workflows"
the current code on the default branch does not pass pre-commit.

[2021-12-14 19:17] gustavwilliam commented on #154
@Akarys42 any idea what's going on? Should we add a gh-action like that?

[2021-12-14 19:37] Akarys42 commented on #154
Yes, we should change that

[2021-12-15 05:25] onerandomusername commented on #15
I don't think anyone is ever going to implement this.

[2021-12-15 06:14] onerandomusername commented on #15
I was a bit bored.

[2021-12-15 10:25] onerandomusername commented on #78
Implemented by 9f25757892f342ee9f6ecf57e53d318f92653a71

[2021-12-15 19:59] onerandomusername commented on #39
Have implemented

[2021-12-16 06:39] onerandomusername commented on #75
Might try to implement this if still wanted

[2021-12-16 06:40] onerandomusername commented on #126
gonna try to implement this

[2021-12-16 06:40] onerandomusername commented on #126
Looking at the implementation, seems this will require some refactoring, but its doable.

[2021-12-16 06:49] onerandomusername opened #160 "ditch flake-import-order for isort and flake8-isort"
Best demonstrated here:
bot is a first party package, so it should be seperated. Isort can do this.

https://github.com/gurkult/gurkbot/blob/244c1afc896c274147ae1361860c5d8a50ad14f2/bot/exts/fun/off_topic.py#L6-L15

[2021-12-17 08:32] gustavwilliam commented on #75
Sure. Would be nice to have.

Allow anyone to use the command. And don't copy the PyDis code for this, so a too large portion of our codebase won't be PyDis-based.

[2021-12-17 08:43] TheLegendBeacon commented on #75
I have a working implementation elsewhere, I could probably copy my code over to here.

[2021-12-17 09:04] onerandomusername commented on #75
I'll probably use interactions for this,  as that would (a)  look nice and (b)  not require reaction add listeners

[2021-12-17 09:05] onerandomusername commented on #14
this is partially implemented already, and I MAY be able to implement the todo,  but I've never worked with databases so it'll be a learning experience.

[2021-12-17 09:06] gustavwilliam commented on #75
How would that work? Is the embed updated to display the current stats?

[2021-12-25 16:08] gustavwilliam commented on #136
@vivax3794 how's it going with the tests? 🥺

[2021-12-25 16:10] gustavwilliam commented on #149
Would be great. I'd love to see this @Arnav-2004.

It would also be nice to simply "disable" roles temporarily.

[2021-12-25 16:11] gustavwilliam commented on #128
Oooh, this would be interesting. Would you like to work on it @v1nam?

[2021-12-25 16:12] gustavwilliam commented on #153
True.

@RohanJnr since you know the database best, would you like to add something about it to the README.md?

[2021-12-26 09:44] #154 closed

[2021-12-26 09:46] Arnav-2004 commented on #149
Sure

[2021-12-26 09:47] gustavwilliam commented on #149
Awesome. I've assigned you.

Could you outline how you're thinking about going about this? How should the feature work?

[2021-12-29 07:24] #39 closed

[2022-01-02 06:42] onerandomusername commented on #75
Yeah, would edit on a button press.

I suppose the small problem with interactions is that its not easily possible to tell at a glance which you voted for.... hm.

[2022-01-03 04:06] PandaTheProgrammer opened #166 "Minigames like rock paper scissors and tic tac toe."
How about adding minigames to the bot?

[2022-01-03 04:31] gustavwilliam commented on #166
Could be fun. Do you want to create it?

[2022-01-03 05:17] PandaTheProgrammer commented on #166
I suck at discord.py (disnake whatever) :/

[2022-01-03 05:18] PandaTheProgrammer commented on #166
Doesn't hurt to learn tho....(this does not mean im taking it up....yet)

[2022-01-11 19:03] gustavwilliam commented on #160
Not sure how all this would worth with linting, but I'm fine with making bot a separate section in the imports.

[2022-01-16 22:24] #13 closed

[2022-01-17 13:37] AadilVarsh commented on #38
I had discussed about the command on discord with Vester(@gustavwilliam), he suggested the command could use the new SELECT interaction, I'd be happy to work on this.

[2022-01-17 13:40] gustavwilliam commented on #38
Lovely! I'm looking forward to seeing a fancy new help command 😄

You're assigned to the issue now.

[2022-01-29 12:54] ItzLukaDev opened #178 "Slash commands for gurkbot"
Now that we're on disnake, why not add slash versions of every gurkbot command?

I would like to work on this.

[2022-02-05 14:58] #153 closed

[2022-02-07 04:13] ItzLukaDev opened #180 "Suggestion: Cucumber fact command."
A cucumber fact command which gives an embed with a random cucumber fact.

Here's how it works:
![image](https://user-images.githubusercontent.com/95855603/152723436-75d85b24-ee73-44fd-a62d-025cebcc90e9.png)

[2022-02-08 10:38] ItzLukaDev commented on #166
would #176  and #179  come under this?

[2022-02-08 12:48] Arnav-2004 commented on #166
@ItzLukaDev this is more of a broad issue, we need to make it specific.

[2022-02-08 13:36] ItzLukaDev commented on #166
Well, My suggestion was to add a bunch of small fun commands to gurkbot.

[2022-02-10 10:28] #124 closed

[2022-02-22 09:14] akulb-15 opened #181 "8ball command for gurkbot"
8ball command for gurkbot

[2022-02-22 09:14] akulb-15 opened #182 "Coinflip command for gurkbot"
coinflip for gurkbot

[2022-03-02 19:27] vivekashok1221 opened #185 "Include message link in message log embed"
It can be in the embed title or in the description.

[2022-10-25 09:37] #126 closed